 body{
    font-family:Roboto;
    background-color:#00232B;
    color: #9ad4fd;
 }


 h1, h2, h3, h4, h5, h6 {
     font-family:"Grenze Gotisch";
     font-size:40pt;

 }

 header {
        text-align:center;
 }

 #hero, footer {
     color:#FFFFFF; 
     background-color:#A3A08E;
     text-align:center;
     padding:10px;
     border-radius: 30px;
     border: 10px groove #9ad4fd;
 }
     /*Hero section*/


#hero img {
     width:300px;

 }
    /*Bio Section*/

 #bio {
     text-align: center;
     
     
 }

 /*Hobbies section*/
  
#hobbies {
    padding: center;
    text-align: center;
    box-shadow: #FFFFFF;
    border-radius: 5px;
}

/*Gallery Section*/

#gallery {
    padding: center;
    text-align: center;
    
}

#gallery img {

    max-width: 100%;
}
   

     
 

     
 }
