 body{
    font-family:Roboto;
    background-color:#00232B;
    color: #9ad4fd;
 }
 h1, h2, h3, h4, h5, h6 {
     font-family:"Grenze Gotisch";
     font-size:40pt;
     text-align: center;

 }

 header {
        text-align: center;
        
 }

 #hero, footer {
   
     color:#9ad4fd; 
     background-color:#A3A08E;
     text-align:center;
     padding:10px;
     margin: 200px;
     border-radius: 30px;
     border: 5px groove #9ad4fd;
 }
     /*Hero section*/


#hero img {
     width:200px;

 }
    /*Bio Section*/

 #bio li{

    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: center;
    text-align: center;
    box-shadow: #FFFFFF;
    border-radius: 5px;
    
 }

 /*Hobbies section*/
  
#hobbies ul{
    max-width: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: center;
    text-align: center;
    box-shadow: #FFFFFF;
    border-radius: 5px;
    
}

/*Gallery Section*/

#gallery {
    text-align: center;
    border: 2px groove #9ad4fd;
    margin-bottom: 2rem;
}

#gallery img {

    max-width: 100%;
}
  #gallery figure {
    text-align: center;
}

    /* literature */
#lit {
     border: 2px groove #9ad4fd;
     margin-bottom: 2rem;
     
}
  #lit p::first-letter {
color:#FFFFFF;
font-size:6rem;
float:left;
line-height: .20;
margin:0.2em 0.2em 0.2em 0;
padding: 0.5em;
border: 4px double rgb(255, 255, 255);
background-image: radial-gradient(rgb(59, 196, 211),white);
  }

  #lit p {
      padding: 0.3em 0;
      clear: both;
  }

  #lit div {
       padding: 2rem;
       max-width: 100%;
      columns:20rem;

  }
  @media (min-width :600px) {
      p {
 font-size: 1.25rem;

      }

  }
  @media (min-width:800px) {
      p{
          font-size: 1.5rem;
          height: 1.5;
      }


      form{
          width: 300px;
      }

      input{
        width: 100%;
    }
    textarea{
resize: vertical;
max-height: 300px ;

    }

    input,textarea{
        outline: #9ad4fd;
        border: 3px soild #9ad4fd;
    }

    input:focus,textarea:focus {
        box-shadow: 0 0 4px rbga(255,0,0,0.5);
        border: 3px soild rbg(255,0,0);
    }
  }


    
   


    



   

     
 

     
 
